
#projectName {
    font-family: Roboto black;
    font-style: normal;
    font-size: 30px;
}

.projectSubname {
    font-family: Roboto;
    font-weight: bold;
}

#jumb {
    background-image: linear-gradient(to right, #138a4d , #49be7a);
    color: white;
    height: 35vh;
}

#svgHeart {
    margin-top: 50px;
    color: #49be7a;
}

#svgPeople {
    margin-top: 50px;
    color: #49be7a;
}

.card-body {
    text-align: left;
}

.container {
    font-family: Roboto;
}

#form-present {
    margin-top: 2vh;
    text-align: center;
}

#form-present-sub {
    text-align: center;
    font-family: Roboto light;
}

#heart-icon {
    margin-left: 20px;
}

#dataForm {
    width: 50%;
    margin-left: 25%;
    font-size: 5px;
}

#title2 {
    text-align: left;
}

#subtitle2 {
    font-family: Roboto Mono;
    font-weight: 400;
    color: #49be7a;
    text-align: certer;
}

.purpleMark {
    background-color: #8d4bb7;
    border-radius: 30px;
    width: 200px;
    color: white;
    text-align: center;
}

#downarea {
    margin-top: 200px;
}

#cadastrarBtn {
    width: 100%;
}

#firstSquare {
    background-image: linear-gradient(to right, #138a4d , #49be7a);
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Roboto regular
}

.principles-card {
    text-align: center;
}

.principles-card h3 {
    font-family: Roboto regular;
}

body {
    background-color: #f5f5f5;
}

.card-body {
    background-color: #f5f5f5;
}

#cardBg {
    background-color: #f5f5f5;
}

#footer {
    margin-top: 100px;
    font-family: Roboto regular;
}

#backButton {
    border-radius: 20px;
}

